{% extends this_string_will_be_replaced %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_pages %}
{% load unicms_publications %}

<!-- SEO  -->
{% block page_title %}Scheda insegnamento{% endblock page_title %}
{% block page_meta_description %}{{ publication_context.publication.subheading }}{% endblock page_meta_description %}
{% block page_meta_keywords %}{% for tag in publication_context.publication.tags.all %}{{ tag }},{% endfor %}{% endblock page_meta_keywords %}

{% block container %}
{% breadcrumbs webpath=webpath leaf=handler %}

<div class="container">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            <h3 class="lighter">{% trans "Teachers" %}</h3>
            <hr class="my-4 bordeaux-unical-bg">
            {% include "blocks/unical_storage_teacherslist.html" with url=url uid="id_1" %}
        {% endblock %}
    </div>
</div>

{% endblock container %}

