{% extends this_string_will_be_replaced %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}


<!-- SEO  -->
{% block page_title %}High Formation Masters{% endblock page_title %}

{% block container %}
{% breadcrumbs webpath=webpath leaf=handler %}

<div class="container">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            {% include "includes/unical_storage_api_buttons.html" %}
            <h1 class="lighter mb-4">{% trans "High Formation Masters" %}</h1>
            <hr class="my-4 bordeaux-unical-bg">
            {% include "blocks/unical_storage_high_formation_masters_list.html" with url=url uid="id_1" %}
        {% endblock %}
    </div>
</div>

{% endblock container %}