{% extends this_string_will_be_replaced %}

{% load i18n %}
{% load static %}

<!-- load custom template tags -->
{% load unicms_carousels %}
{% load unicms_contexts %}
{% load unicms_menus %}
{% load unicms_templates %}
{% load unicms_pages %}
{% load unicms_publications %}
{% load unicms_storage_handler %}

<!-- SEO  -->
{% block page_title %}Scheda insegnamento{% endblock page_title %}
{% block page_meta_description %}{{ publication_context.publication.subheading }}{% endblock page_meta_description %}
{% block page_meta_keywords %}{% for tag in publication_context.publication.tags.all %}{{ tag }},{% endfor %}{% endblock page_meta_keywords %}

{% block container %}
{% breadcrumbs webpath=webpath leaf=handler %}

{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}

<div class="container">
    <div class="col-12 py-5 bd-content">
        {% block centered_container %}
            <h1 class="lighter mb-4">{% trans "Data storage" %}</h1>
            <hr class="my-4 bordeaux-unical-bg">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <!--start card-->
                    <div class="card-wrapper card-space">
                        <div class="card card-bg card-big no-after">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% trans "Study courses" %}
                                </h5>
                                {% settings_value "CMS_STORAGE_CDS_VIEW_PREFIX_PATH" as cds_prefix %}
                                <a href="//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/" role="button" class="btn btn-outline-primary btn-sm">
                                    {% trans "See the list" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>

                <div class="col-12 col-lg-4">
                    <!--start card-->
                    <div class="card-wrapper card-space">
                        <div class="card card-bg card-big no-after">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% trans "Persons" %}
                                </h5>
                                {% settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}
                                <a href="//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/" role="button" class="btn btn-outline-primary btn-sm">
                                    {% trans "See the list" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>

                <div class="col-12 col-lg-4">
                    <!--start card-->
                    <div class="card-wrapper card-space">
                        <div class="card card-bg card-big no-after">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% trans "Teachers" %}
                                </h5>
                                {% settings_value "CMS_STORAGE_THEACHER_VIEW_PREFIX_PATH" as teacher_prefix %}
                                <a href="//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ teacher_prefix }}/" role="button" class="btn btn-outline-primary btn-sm">
                                    {% trans "See the list" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>

                <div class="col-12 col-lg-4">
                    <!--start card-->
                    <div class="card-wrapper card-space">
                        <div class="card card-bg card-big no-after">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% trans "Structures" %}
                                </h5>
                                {% settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}
                                <a href="//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ structures_prefix }}/" role="button" class="btn btn-outline-primary btn-sm">
                                    {% trans "See the list" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>

                <div class="col-12 col-lg-4">
                    <!--start card-->
                    <div class="card-wrapper card-space">
                        <div class="card card-bg card-big no-after">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {% trans "Laboratories" %}
                                </h5>
                                {% settings_value "CMS_STORAGE_LABORATORY_VIEW_PREFIX_PATH" as laboratories_prefix %}
                                <a href="//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ laboratories_prefix }}/" role="button" class="btn btn-outline-primary btn-sm">
                                    {% trans "See the list" %}
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        {% endblock %}
    </div>
</div>

{% endblock container %}

