{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}


{% block pagination_content %}

{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_CDS_VIEW_PREFIX_PATH" as cds_prefix %}

<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else>

        {% block filters_coursetype %}

        <loading-icon
            v-if="is_loading_degreetypes"
            :loader_source="loader_source_degreetypes">
        </loading-icon>

        <div class="row mt-3" v-else>
            <div class="col">
                <span v-for="degree in course_types"
                      class="badge badge-grey-unical square-corners my-1 mr-3 ml-0 pr-5 p-2">
                    <div v-if="!allowed_course_types || allowed_course_types.includes(degree.CourseType)">
                        <a href="javascript:void(0)" @click="{{ id }}.search('coursetype', [[ degree.CourseType ]])">
                            <h5>
                                <b v-if="degree.CourseType == active_coursetype">
                                    [[ degree.CourseTypeDescription ]]
                                </b>
                                <span v-else>
                                    [[ degree.CourseTypeDescription ]]
                                </span>
                            </h5>
                        </a>
                    </div>
                </span>
                <span class="badge badge-grey-unical square-corners my-1 mr-3 ml-0 pr-5 p-2"
                      style="font-size: 100%">
                    <a href="javascript:void(0)" @click="{{ id }}.search('coursetype', allowed_course_types)">
                        <h5>
                            {% trans "All" %}
                        </h5>
                    </a>
                </span>
            </div>
        </div>
        <hr class="my-4 bordeaux-unical-bg">
        {% endblock filters_coursetype %}

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <br>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <label for="search"></label>
                                    <input type="text" class="form-control" id="{{ id }}_keywords" name="{{ id }}_keywords">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <svg class="icon icon-sm icon-muted">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                                            </svg>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            @click="{{ id }}.search()">{% trans "Search" %}</button>
                                    </div>
                                </div>
                            </div>

                            {% block filters_cdslist %}
                            <div class="form-group">

                                <!-- Academic year & Department -->
                                <div class="row">

                                    <loading-icon
                                        v-if="is_loading_academicyears"
                                        :loader_source="loader_source_academicyears">
                                    </loading-icon>

                                    <div class="col-sm" v-else>
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_academic_year_input">
                                                {% trans "Academic Year" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_academic_year_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_academic_year_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search('coursetype', active_coursetype)">
                                                  <option value="">- {% trans 'Choose an option' %} -</option>
                                                  <option v-for="item in academic_years_filter"
                                                          :value="item.AcademicYear">
                                                      [[ item.AcademicYear ]]/[[ item.AcademicYear + 1 ]]
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <loading-icon
                                        v-if="is_loading_departments"
                                        :loader_source="loader_source_departments">
                                    </loading-icon>

                                    <div class="col-sm" v-else>
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_department_input">
                                                {% trans "Department" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_department_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_department_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search('coursetype', active_coursetype)">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in departments_filter"
                                                            :value="item.DepartmentID">
                                                        [[ item.DepartmentName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Cds Language & Joint Degree -->
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_cds_language_input">
                                                {% trans "Course of study language" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_cds_language_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_cds_language_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search('coursetype', active_coursetype)">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in cds_languages_filter"
                                                            :value="item">
                                                        [[ item ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_joint_degree_input">
                                                {% trans "Joint degree" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_joint_degree_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_joint_degree_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search('coursetype', active_coursetype)">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in joint_degree_filter" :value="item.COD">
                                                      [[ item.name ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endblock filters_cdslist %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <div class="row mb-3" v-for="item in items.results">
            <div class="col-12">
                <!--start card-->
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <h4>
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + [[ item.RegDidId ]] +'/'">
                                    <h4 class="mb-0">[[ item.CdSName ]]</h4>
                                </a>
                                <h5 style="display: inline">[[ item.CourseTypeDescription ]]</h5>
                                <h5 v-for="joint in joint_degree_filter"
                                    v-if="item.JointDegree == joint.COD && item.JointDegree != 'N'"
                                    style="display: inline">
                                    &nbsp;- [[ joint.name ]]
                                </h5>
                            </h4>
                            <div class="row">
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['AcademicYear'] ]] >
                                        <b>[[ item.AcademicYear ]]/[[ item.AcademicYear + 1]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['CdSDuration'] ]] >
                                        <b>[[ item.CdSDuration ]] {% trans "years" %}</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['CdSLanguage'] ]] >
                                        <b>[[ item.CdSLanguage.join(', ') ]] </b>
                                    </small>
                                </div>
                                <div class="col text-right">
                                    <small>
                                        <a href="#" style="color: #b71918">
                                            <b>{% trans "Website" %} >></b>
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>
</div>
{% endblock pagination_content %}

{% block pagination_extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(dict={}, keyword=null, value=null) {

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_keywords').value
    if (search) dict['keywords'] = search

    // academic year
    let academic_year = document.getElementById('{{ id }}_academic_year_input').value
    if (academic_year) dict['academicyear'] = academic_year

    // department name
    let department = document.getElementById('{{ id }}_department_input').value
    if (department) dict['departmentid'] = department

    // cds language
    let cds_language = document.getElementById('{{ id }}_cds_language_input').value
    if (cds_language) dict['cdslanguage'] = cds_language

    // joint degree
    let joint_degree = document.getElementById('{{ id }}_joint_degree_input').value
    if (joint_degree) dict['jointdegree'] = joint_degree

    return dict
}
</script>
{% endblock pagination_extra_scripts %}

{% block extra_data %}

{% settings_value "ALLOWED_CDS_LANGUAGES" as allowed_languages %}
{% settings_value "ALLOWED_CDS_JOINT_DEGREES" as allowed_joint_degrees %}
{% settings_value "CMS_STORAGE_BASE_API" as base_api %}

search_dict: {},
active_coursetype: null,
allowed_course_types: null,
course_types: [],

is_loading_degreetypes: true,
is_loading_academicyears: true,
is_loading_departments: true,

loader_source_degreetypes: '{{ base_api }}degreetypes/?lang={{ LANGUAGE_CODE }}',
loader_source_academicyears: '{{ base_api }}academicyears/?lang={{ LANGUAGE_CODE }}',
loader_source_departments: '{{ base_api }}departments/?lang={{ LANGUAGE_CODE }}',

academic_years_filter: [],
departments_filter: [],
cds_languages_filter: {{ allowed_languages|safe }},
joint_degree_filter: {{ allowed_joint_degrees|safe }}
{% endblock extra_data %}

{% block pagination_extra_mounted %}
// if url is pre-filtered with preferred coursetypes
// get them, else show all
let params = new URLSearchParams(this.url.split('?')[1]);
let get_coursetype = params.get("coursetype")
let get_structuretype = params.get("structuretype")
if (get_coursetype != null){
    let get_coursetypes_list = get_coursetype.split(',')
    this.allowed_course_types = get_coursetypes_list
}

this.callDegreeTypes();
this.callAcademicYears();
this.callDepartments();
{% endblock pagination_extra_mounted %}

{% block pagination_method_search %}
search(keyword=null, value=null) {
    if(keyword=='coursetype')
        this.active_coursetype = value;
    this.search_dict = {}
    if (value) this.parameters = encodeQueryData({{ id }}_get_form_paramenters(this.search_dict, keyword, value), this.args_input);
    else this.parameters = encodeQueryData({{ id }}_get_form_paramenters(this.search_dict), this.args_input);
    this.CallURL(this.url + this.parameters);
},
{% endblock pagination_method_search %}

{% block pagination_extra_methods %}
callDegreeTypes() {
    axios
        .get(this.loader_source_degreetypes)
        .then(response => {
            this.course_types = response.data.results;
            this.is_loading_degreetypes = false
        })
},
callAcademicYears() {
    axios
        .get(this.loader_source_academicyears)
        .then(response => {
            this.academic_years_filter = response.data.results;
            this.is_loading_academicyears = false
        })
},
callDepartments() {
    axios
        .get(this.loader_source_departments)
        .then(response => {
            this.departments_filter = response.data.results;
            this.is_loading_departments = false
        })
},
{% endblock pagination_extra_methods %}
</script>
