{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block pagination_content %}

{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}

<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else>

        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <br>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <label for="search"></label>
                                    <input type="text" class="form-control" id="{{ id }}_keywords" name="{{ id }}_keywords">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <svg class="icon icon-sm icon-muted">
                                                <use xlink:href="{% static 'svg/sprite.svg' %}#it-search"></use>
                                            </svg>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            @click="{{ id }}.search()">{% trans "Search" %}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <!-- Structure and Role -->
                                <div class="row">

                                    {% block filters %}

                                    <div class="col-sm">

                                        <loading-icon
                                            v-if="is_loading_structure_id"
                                            :loader_source="loader_source_structures">
                                        </loading-icon>

                                        <div class="bootstrap-select-wrapper" v-else>
                                            <label for="{{ id }}_structure_input">
                                                {% trans "Structure" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_structure_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_structure_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in structure_id_filter"
                                                            :value="item.StructureId"
                                                            v-if="!allowed_structure_id || allowed_structure_id.includes(item.StructureId)">
                                                        [[ item.StructureName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm">

                                        <loading-icon
                                            v-if="is_loading_structure_type"
                                            :loader_source="loader_source_structure_types">
                                        </loading-icon>

                                        <div class="bootstrap-select-wrapper" v-else>
                                            <label for="{{ id }}_structure_input">
                                                {% trans "Structure type" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_structure_type_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_structure_type_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in structure_type_filter"
                                                            :value="item.StructureTypeCOD"
                                                            v-if="!allowed_structure_types || allowed_structure_types.includes(item.StructureTypeCOD)">
                                                            <!-- v-if="allowed_structures.includes(item.StructureTypeCOD)"> -->
                                                        [[ item.StructureTypeName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    {% endblock filters %}

                                    <div class="col-sm">

                                        <loading-icon
                                            v-if="is_loading_roles"
                                            :loader_source="loader_source_roles">
                                        </loading-icon>

                                        <div class="bootstrap-select-wrapper" v-else>
                                            <label for="{{ id }}_role_input">
                                                {% trans "Role" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_role_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_role_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in roles_filter"
                                                            :value="item.Role"
                                                            v-if="!allowed_roles || allowed_roles.includes(item.Role)">
                                                        [[ item.RoleDescription ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- End Structure and Role -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <div class="row mb-3"
             v-for="item in items.results">
            <div class="col-12">
                <!--start card-->
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <h4>
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + [[ item.ID ]] +'/'">
                                    [[ item.Name ]]
                                </a>
                            </h4>
                            <div class="row">
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['RoleDescription'] ]] >
                                        <b>[[ item.RoleDescription ]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['Structure'] ]] >
                                        <b>[[ item.Structure ]]</b>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>
</div>
{% endblock pagination_content %}

{% block pagination_extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(dict={}, keyword=null, value=null) {

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_keywords').value
    if (search) dict['keywords'] = search

    {% block structure_filter_input %}
    // structure id
    let structure_id = document.getElementById('{{ id }}_structure_input').value
    if (structure_id) dict['structureid'] = structure_id

    // structure type
    let structure_type = document.getElementById('{{ id }}_structure_type_input').value
    if (structure_type) dict['structuretypes'] = structure_type
    {% endblock structure_filter_input %}

    // role
    let role = document.getElementById('{{ id }}_role_input').value
    if (role) dict['roles'] = role

    return dict
}
</script>
{% endblock pagination_extra_scripts %}

{% block extra_data %}
{% settings_value "CMS_STORAGE_BASE_API" as base_api %}

search_dict: {},
active_degree: "",
is_loading_structure_id: true,
is_loading_structure_type: true,
is_loading_roles: true,

loader_source_structures: '{{ base_api }}structures/?lang={{ LANGUAGE_CODE }}',
loader_source_structure_types: '{{ base_api }}structuretypes/?lang={{ LANGUAGE_CODE }}',
loader_source_roles: '{{ base_api }}roles/?lang={{ LANGUAGE_CODE }}',

allowed_structure_id: null,
allowed_structure_types: null,
allowed_roles: null,

roles_filter: [],
structure_id_filter: [],
structure_type_filter: []
{% endblock extra_data %}

{% block pagination_extra_mounted %}
    // if url if pre-filtered with preferred coursetypes
    // get them, else show all
    let params = new URLSearchParams(this.url.split('?')[1]);

    let get_roles = params.get("roles")
    if (get_roles != null){
        let get_roles_list = get_roles.split(',')
        this.allowed_roles = get_roles_list
    }

    let get_structure_id = params.get("structureid")
    if (get_structure_id != null){
        let get_structure_id_list = get_structure_id.split(',')
        this.allowed_structure_id = get_structure_id_list
    }

    let get_structure_types = params.get("structuretypes")
    if (get_structure_types != null){
        let get_structure_types_list = get_structure_types.split(',')
        this.allowed_structure_types = get_structure_types_list
    }
    {% block call_structure_on_mounted %}
        this.callStructureId();
        this.callStructureTypes();
    {% endblock call_structure_on_mounted %}

    this.callRoles();
{% endblock pagination_extra_mounted %}

{% block pagination_method_search %}
search(keyword=null, value=null) {
    if(keyword=='coursetype')
        this.active_degree = value;
    this.search_dict = {}
    this.parameters = encodeQueryData({{ id }}_get_form_paramenters(this.search_dict, keyword, value), this.args_input);
    this.CallURL(this.url + this.parameters);
},
{% endblock pagination_method_search %}

{% block pagination_extra_methods %}

{% block structure_call_method %}
callStructureId() {
    axios
        .get(this.loader_source_structures)
        .then(response => {
            this.structure_id_filter = response.data.results;
            this.is_loading_structure_id = false
        })
},
callStructureTypes() {
    axios
        .get(this.loader_source_structure_types)
        .then(response => {
            this.structure_type_filter = response.data.results;
            this.is_loading_structure_type = false
        })
},
{% endblock structure_call_method %}

callRoles() {
    axios
        .get(this.loader_source_roles)
        .then(response => {
            this.roles_filter = response.data.results;
            this.is_loading_roles = false
        })
},
{% endblock pagination_extra_methods %}
</script>
