{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block content %}

{% get_allowed_website request.get_host as host %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_ROOT_API" as api_root %}
{% settings_value "CMS_STORAGE_PROJECTS_VIEW_PREFIX_PATH" as projects_prefix %}

{% settings_value "CMS_STORAGE_THEACHER_VIEW_PREFIX_PATH" as teacher_prefix %}


<div id="{{ id }}">

    <div if="(initial_items && initial_items.length) || parameters">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <br>
                        <div class="card-body">

                            {% include "includes/unical_storage_search_input.html" with id=id %}

                                <div class="form-group">

                                {% block filters %}
                                    <!-- Year and Types -->
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="w-30 mt-5">
                                                <label class="input-number"
                                                       for="{{ id }}_year_input">
                                                    {% trans "Year" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <span class="input-number">
                                                        <input type="number"
                                                               id="{{ id }}_year_input"
                                                               name="{{ id }}_year_input"
                                                               v-on:keyup.enter="{{ id }}.search()"
                                                               v-model="selected_year">
                                                        <button class="input-number-add">
                                                            <span class="sr-only">
                                                                {% trans "Increase value" %}
                                                            </span>
                                                        </button>
                                                        <button class="input-number-sub">
                                                            <span class="sr-only">
                                                                {% trans "Decrease value" %}
                                                            </span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                         <div class="col-sm">
                                            <div>
                                                <label for="{{ id }}_techarea_input">
                                                    {% trans "Tech Area" %}
                                                </label>
                                                <div class="w-30 mt-5">
                                                    <select id="{{ id }}_techarea_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_techarea_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in techareas"
                                                                :value="item.TechAreaId"
                                                                :selected="item.TechAreaId == selected_techarea">
                                                            [[ item.TechAreaDescription ]]
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                {%  endblock filters %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <loading-icon
            v-if="is_loading"
            :loader_source="loader_source">
        </loading-icon>

        <div v-else>
            <div class="row mb-3" v-for="item in items.results">
                <div class="col-12">
                    <!--start card-->
                    <div class="card-wrapper pb-0">
                        <div class="card no-after" style="border:1px solid #b71918">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-12 col-lg-2 mr-lg-3 mb-3 mb-lg-0" v-if="item.ProjectImage">
                                        <img :src="item.ProjectImage" class="w-100"/>
                                    </div>
                                    <div class="col">
                                        <h5>
                                            <a class="no-color" :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ projects_prefix }}/' + [[ item.ProjectId ]] +'/'">
                                                <b>[[ item.ProjectTitle ]]</b>
                                            </a>
                                        </h5>
                                        <p>
                                            <small>
                                                [[ item.ProjectDescription ]]
                                            </small>
                                        </p>
                                        <div class="row">
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    [[ labels['ProjectYear'] ]] >
                                                    <b>[[ item.ProjectYear ]]</b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    [[ labels['TerritorialScopeDescription'] ]] >
                                                    <b>[[ item.TerritorialScopeDescription ]] </b>
                                                </small>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <small>
                                                    {% trans "Tech Area" %} >
                                                    <b>[[ item.TechAreaDescription ]] </b>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end card-->
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict ={};

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_search')
    if (search && search.value) dict['search'] = search.value

    // year
    let year = document.getElementById('{{ id }}_year_input')
    if (year && year.value) dict['year'] = year.value

    // techarea
    let techarea = document.getElementById('{{ id }}_techarea_input')
    if (techarea && techarea.value) dict['techarea'] = techarea.value

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}
{% get_current_language as LANGUAGE_CODE %}

{% settings_value "CMS_STORAGE_TECHAREAS_API" as techareas_api %}

search_dict: {},
techareas: [],

is_loading_techareas: true,

loader_source_techareas: '{{ techareas_api }}?lang={{ LANGUAGE_CODE }}',

selected_search: this.getItemFromSession("{{ id }}", 'search'),
selected_techarea: this.getItemFromSession("{{ id }}", 'techarea'),
selected_year: this.getItemFromSession("{{ id }}", 'year') || {{ id }}_get_param('year'),

{% endblock extra_data %}

{% block extra_mounted %}
this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))

this.callTechAreas();

{% endblock extra_mounted %}

{% block extra_methods %}
callTechAreas() {
    axios
        .get(this.loader_source_techareas)
        .then(response => {
            this.techareas = response.data.results;
            this.is_loading_techareas = false
        })
},
{% endblock extra_methods %}
</script>

