{% load static %}

{% load unicms_storage_handler %}

{% random_id as id %}
{% include "includes/unical_storage_loading.html" %}

<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else>

        <template>
            <h1 class="lighter">
                [[ item.TeacherLastName ]] [[ item.TeacherFirstName ]]
            </h1>
            <h3 class="lighter">
                [[ item.TeacherRole ]]
            </h3>
            <hr class="my-4 bordeaux-unical-bg">
            <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr v-for="(value, name) in item">
                            <td>[[ labels[name] ]]</td>
                            <td v-if="typeof value === 'object'">
                                <ul>
                                    <li v-for="v in value">
                                        <span style="white-space: pre-line;">
                                            [[ v ]]
                                        </span>
                                    </li>
                                </ul>
                            </td>
                            <td v-else-if="typeof value === 'array'">
                                <ul>
                                    <li v-for="subvalue in value">
                                        [[ subvalue ]]
                                    </li>
                                </ul>
                            </td>
                            <td v-else>
                                <span style="white-space: pre-line;">
                                    [[ value ]]
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </template>
    </div>
</div>
<script>
    var {{ id }} = new Vue({
        el: '[id="{{ id }}"]',
        data() {
            return {
                item: {},
                labels: {},
                url: '{{ url }}',
                is_loading: true,
                loader_source: '{{ url }}'
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        this.is_loading = false
                    })
            }
        }
    })
</script>
