{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block pagination_content %}
<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else>
        {% block filters_coursetype %}

        <loading-icon
            v-if="is_loading_2"
            :loader_source="loader_source_2">
        </loading-icon>

        <div class="row mt-3" v-else>
            <div class="col">
                <span v-for="degree in degree_types"
                      class="badge badge-grey-unical square-corners my-1 mr-3 ml-0 pr-5 p-2">
                    <div v-if="degree_types_allowed.includes(degree.CourseType)">
                        <a href="javascript:void(0)" @click="{{ id }}.search('coursetype', [[ degree.CourseType ]])">
                            <h5>
                                <b v-if="degree.CourseType == active_degree">
                                    [[ degree.CourseTypeDescription ]]
                                </b>
                                <span v-else>
                                    [[ degree.CourseTypeDescription ]]
                                </span>
                            </h5>
                        </a>
                    </div>
                </span>
                <span class="badge badge-grey-unical square-corners my-1 mr-3 ml-0 pr-5 p-2"
                      style="font-size: 100%">
                    <a href="javascript:void(0)" @click="{{ id }}.search('coursetype', '')">
                        <h5>
                            {% trans "Tutti" %}
                        </h5>
                    </a>
                </span>
            </div>
        </div>
        <hr class="my-4 bordeaux-unical-bg">
        {% endblock filters_coursetype %}

        {% block filters_cdslist %}
        <loading-icon
        v-if="is_loading_academicyears"
        :loader_source="loader_source_2">
        </loading-icon>

        <loading-icon
            v-else-if="is_loading_departments"
            :loader_source="loader_source_2">
        </loading-icon>

        <div v-else class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <br>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="input-group">
                                    <label for="search"></label>
                                    <input type="text" class="form-control" id="{{ id }}_keywords" name="{{ id }}_keywords">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <svg class="icon icon-sm icon-muted">
                                                <use xlink:href="/static/svg/sprite.svg#it-search"></use>
                                            </svg>
                                        </div>
                                        <button class="btn btn-primary" type="button" id="search-button"
                                            @click="{{ id }}.search()">{% trans "Cerca" %}</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Academic year & Department Id & Department Name -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_academic_year_input">{% trans "Anno Accademico" %}</label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_academic_year_input" title="Scegli una opzione" name="{{ id }}_academic_year_input" class="form-control">
                                                  <option v-for="item in academic_years_filter" v-bind:value="item.AcademicYear">[[ item.AcademicYear ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_department_input">{% trans "Dipartimento" %}</label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_department_input" title="Scegli una opzione" name="{{ id }}_department_input" class="form-control">
                                                  <option v-for="item in departments_filter" v-bind:value="item.DepartmentID">[[ item.DepartmentName ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Cds Language & Joint Degree -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_cds_language_input"> {% trans "Lingua Corso di Studi" %} </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_cds_language_input" title="Scegli una opzione" name="{{ id }}_cds_language_input" class="form-control">
                                                  <option v-for="item in cds_languages_filter" v-value="item">[[ item ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="bootstrap-select-wrapper">
                                            <label for="{{ id }}_joint_degree_input">{% trans "Titolo Congiunto" %}</label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_joint_degree_input" title="Scegli una opzione" name="{{ id }}_joint_degree_input" class="form-control">
                                                  <option v-for="item in joint_degree_filter" v-value="item">[[ item ]]</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock filters_cdslist %}

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <div class="row mb-3" v-for="item in items.results">
            <div class="col-12">
                <!--start card-->
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <h4>
                                {% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
                                {% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
                                {% settings_value "CMS_STORAGE_CDS_VIEW_PREFIX_PATH" as cds_prefix %}
                                <a :href="'/{{ cms_path_prefix }}{{ base_prefix }}/{{ cds_prefix }}/' + [[ item.RegDidId ]] +'/'">
                                    [[ item.CdSName ]] - [[ item.CourseType ]]
                                </a>
                            </h4>
                            <div class="row">
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['CourseType'] ]] >
                                        <b>[[ item.CourseType ]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['AcademicYear'] ]] >
                                        <b>[[ item.AcademicYear ]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['CdSDuration'] ]] >
                                        <b>[[ item.CdSDuration ]] {% trans "anni" %}</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['CdSLanguage'] ]] >
                                        <b>[[ item.CdSLanguage.join(', ') ]] </b>
                                    </small>
                                </div>
                                <div class="col text-right">
                                    <small>
                                        <a href="#" style="color: #b71918">
                                            <b>{% trans "Sito web" %} >></b>
                                        </a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>
</div>
{% endblock pagination_content %}

{% block pagination_extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(dict={}, keyword=null, value=null) {

    if (keyword)
        dict[keyword] = value

    // search
    let search = document.getElementById('{{ id }}_keywords').value
    if (search) dict['keywords'] = search

    // academic year
    let academic_year = document.getElementById('{{ id }}_academic_year_input').value
    if (academic_year) dict['academicyear'] = academic_year

    // department id
    // let department_id = document.getElementById('{{ id }}_department_input').value
    // if (department_id) dict['departmentid'] = department_id

    // department name
    let department = document.getElementById('{{ id }}_department_input').value
    if (department) dict['departmentid'] = department

    // cds language
    let cds_language = document.getElementById('{{ id }}_cds_language_input').value
    if (cds_language) dict['cdslanguage'] = cds_language

    // joint degree
    let joint_degree = document.getElementById('{{ id }}_joint_degree_input').value
    if (joint_degree) dict['jointdegree'] = joint_degree

    return dict
}
</script>
{% endblock pagination_extra_scripts %}


{% block pagination_extra_data %}
search_dict: {},
active_degree: "",
degree_types: [],
is_loading_2: true,
is_loading_academicyears: true,
is_loading_departments: true,
loader_source_2: 'https://storage.portale.unical.it/api/ricerca/degreetypes/?lang={{ LANGUAGE_CODE }}',
loader_source_academicyears: 'https://storage.portale.unical.it/api/ricerca/academicyears/?lang={{ LANGUAGE_CODE }}',
loader_source_departments: 'https://storage.portale.unical.it/api/ricerca/departments/?lang={{ LANGUAGE_CODE }}',
degree_types_allowed: ['L', 'LM', 'LM5', 'LM6', 'M1-270', 'M2-270'],
academic_years_filter: [],
departments_filter: [],
cds_languages_filter: ['', 'ita', 'eng'],
joint_degree_filter: ['', 'S', 'N', 'D'],
{% endblock pagination_extra_data %}

{% block pagination_extra_mounted %}
this.callDegreeTypes();
this.callAcademicYears();
this.callDepartments();
{% endblock pagination_extra_mounted %}

{% block pagination_method_search %}
search(keyword=null, value=null) {
    if(keyword=='coursetype')
        this.active_degree = value;
    this.search_dict = {}
    this.parameters = encodeQueryData({{ id }}_get_form_paramenters(this.search_dict, keyword, value), this.args_input);
    this.CallURL(this.url + this.parameters);
},
{% endblock pagination_method_search %}

{% block pagination_extra_methods %}
callDegreeTypes() {
    axios
        .get(this.loader_source_2)
        .then(response => {
            this.degree_types = response.data.results;
            this.is_loading_2 = false
        })
},
callAcademicYears() {
    axios
        .get(this.loader_source_academicyears)
        .then(response => {
            this.academic_years_filter = response.data.results;
            this.academic_years_filter.unshift("");
            this.is_loading_academicyears = false
        })
},
callDepartments() {
    axios
        .get(this.loader_source_departments)
        .then(response => {
            this.departments_filter = response.data.results;
            this.departments_filter.unshift("");
            this.is_loading_departments = false
        })
},
{% endblock pagination_extra_methods %}
</script>

