{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block content %}

{% get_allowed_website request.get_host as host %}
{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_LABORATORY_VIEW_PREFIX_PATH" as laboratory_prefix %}

<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else-if="(initial_items && initial_items.length) || parameters">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper card-space">
                    <div class="card card-bg no-after">
                        <br>
                        <div class="card-body">

                            {% include "includes/unical_storage_search_input.html" with id=id %}

                            <div class="form-group">
                                <!-- Areas & Department -->
                                {% block filters %}

                                <loading-icon
                                    v-if="is_loading_areas"
                                    :loader_source="loader_source_areas">
                                </loading-icon>

                                <div class="row" v-else>

                                    <div class="col-sm">
                                        <div>
                                            <label for="{{ id }}_area_input">
                                                {% trans "Area" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_area_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_area_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                  <option value="">- {% trans 'Choose an option' %} -</option>
                                                  <option v-for="item in areas"
                                                          :value="item.Area"
                                                          :selected="item.Area == selected_area">
                                                      [[ item.Area ]]
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <loading-icon
                                        v-if="is_loading_departments"
                                        :loader_source="loader_source_departments">
                                    </loading-icon>

                                    <div class="col-sm" v-else>
                                        <div>
                                            <label for="{{ id }}_department_input">
                                                {% trans "Department" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_department_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_department_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search()">
                                                    <option value="">- {% trans 'Choose an option' %} -</option>
                                                    <option v-for="item in departments"
                                                            :value="item.DepartmentID"
                                                            :selected="item.DepartmentID == selected_department">
                                                        [[ item.DepartmentName ]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <loading-icon
                                    v-if="is_loading_erc0"
                                    :loader_source="loader_source_erc0">
                                </loading-icon>

                                <div class="row" v-else>
                                    <div class="col-sm">
                                        <div>
                                            <label for="{{ id }}_erc0_input">
                                                {% trans "ERC" %}
                                            </label>
                                            <div class="w-30 mt-5">
                                                <select id="{{ id }}_erc0_input"
                                                        title="{% trans 'Choose an option' %}"
                                                        name="{{ id }}_erc0_input"
                                                        class="form-control"
                                                        @change="{{ id }}.search_erc1()">
                                                  <option value="">- {% trans 'Choose an option' %} -</option>
                                                  <option v-for="item in erc0_list"
                                                          :value="item.IdErc0"
                                                          :selected="item.Description == selected_erc0">
                                                      [[ item.Description ]]
                                                  </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div v-if="activate_erc1">
                                        <div class="col-sm">
                                            <div>
                                                <div class="w-30 mt-5">
                                                    <div class="form-check" id="{{ id }}_erc1_input">
                                                        <div v-for="item in erc1_list">
                                                            <input :id="'{{ id }}_checkbox_' + item.IdErc1" type="checkbox" @click="{{ id }}.search()" :value="item.IdErc1">
                                                            <label :for="'{{ id }}_checkbox_' + item.IdErc1">[[ item.Description ]]</label>
                                                        </div>
                                                    </div>
                                                    <!--<select id="{{ id }}_erc1_input"
                                                            title="{% trans 'Choose an option' %}"
                                                            name="{{ id }}_erc1_input"
                                                            class="form-control"
                                                            @change="{{ id }}.search()">
                                                        <option value="">- {% trans 'Choose an option' %} -</option>
                                                        <option v-for="item in erc1_list"
                                                                :value="item.IdErc1"
                                                                :selected="item.Description == selected_erc1">
                                                            [[ item.Description ]]
                                                        </option>
                                                    </select> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endblock filters %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

        <div class="row mb-3" v-for="item in items.results" v-if="item.LaboratoryName != '' && item.LaboratoryName">
            <div class="col-12">
                <!--start card-->
                <div class="card-wrapper pb-0">
                    <div class="card no-after" style="border:1px solid #b71918">
                        <div class="card-body">
                            <h4>
                                <a :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ laboratory_prefix }}/' + [[ item.LaboratoryId ]] +'/'">
                                    [[ item.LaboratoryName ]]
                                </a>
                            </h4>
                            <div class="row">
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['DepartmentName'] ]] >
                                        <b>[[ item.DepartmentName ]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['Area'] ]] >
                                        <b>[[ item.Area ]]</b>
                                    </small>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <small>
                                        [[ labels['Interdepartmental'] ]] >
                                        <b>[[ item.Interdepartmental ]]</b>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end card-->
            </div>
        </div>

        <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
    </div>

    <div v-else>
        {% trans "No items here" %}
    </div>

</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(dict={}, keyword=null, value=null, activate_erc1=false) {

    if (keyword)
        dict[keyword] = value


    // search
    let search = document.getElementById('{{ id }}_keywords').value
    if (search) dict['keywords'] = search

    {% block laboratory_filter_input %}
    // area
    let area = document.getElementById('{{ id }}_area_input').value
    if (area) dict['area'] = area

    // department
    let department = document.getElementById('{{ id }}_department_input').value
    if (department) dict['department'] = department

    // erc1
    if (activate_erc1)
    {
        console.log("here");
        let erc1 = []
        let checkbox = document.getElementById('{{ id }}_erc1_input').getElementsByTagName("input")
        console.log(checkbox);

        for(var i = 0; i < checkbox.length; i++)
        {
            console.log(checkbox[i]);
            if(checkbox[i].checked){
                erc1.push(checkbox[i].value);
            }
        }
        console.log(erc1.join(","));
        if (erc1.length > 0) dict['erc1'] = erc1.join(",")
    }

     {% endblock laboratory_filter_input %}

    setItemInSession("{{ id }}", dict)

    return dict
}

function {{ id }}_get_form_paramenters_erc0(dict={}) {

    // erc0
    let erc0 = document.getElementById('{{ id }}_erc0_input').value
    if (erc0) dict['erc0'] = erc0

    setItemInSession("{{ id }}_erc0", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}
{% settings_value "CMS_STORAGE_DEPARTMENTSFILTER_API" as departmentsfilter_api %}
{% settings_value "CMS_STORAGE_LABORATORIESAREAS_API" as laboratoriesareas_api %}
{% settings_value "CMS_STORAGE_ERC0LIST_API" as erc0list_api %}
{% settings_value "CMS_STORAGE_ERC1LIST_API" as erc1list_api %}

search_dict: {},
departments: [],
areas: [],
erc0_list: [],
erc1_list: [],

is_loading_departments: true,
is_loading_areas: true,
is_loading_erc0: true,

activate_erc1: false,

loader_source_departments: '{{ departmentsfilter_api }}?lang={{ LANGUAGE_CODE }}',
loader_source_areas: '{{ laboratoriesareas_api }}?lang={{ LANGUAGE_CODE }}',
loader_source_erc0: '{{ erc0list_api }}?lang={{ LANGUAGE_CODE }}',
loader_source_erc1: '{{ erc1list_api }}?lang={{ LANGUAGE_CODE }}',

selected_area: this.getItemFromSession("{{ id }}", 'area'),
selected_department: this.getItemFromSession("{{ id }}", 'department'),
selected_keywords: this.getItemFromSession("{{ id }}", 'keywords'),
selected_erc0: this.getItemFromSession("{{ id }}_erc0", 'erc0'),
selected_erc1: this.getItemFromSession("{{ id }}", 'erc1'),

{% endblock extra_data %}

{% block extra_mounted %}

    {% block call_laboratory_on_mounted %}
        this.callAreas();
        this.callDepartments();
        this.callERC0List();
    {% endblock call_laboratory_on_mounted %}


this.parameters = encodeQueryData(this.getItemsFromSession("{{ id }}"), true)
{% endblock extra_mounted %}

{% block method_search %}
search() {
    this.search_dict = {}
    this.parameters = encodeQueryData({{ id }}_get_form_paramenters(this.search_dict, null, null, this.activate_erc1), this.args_input);
    this.CallURL(this.url + this.parameters);
},
search_erc1() {
    this.search_dict = {};
    let parameters_erc1 = encodeQueryData({{ id }}_get_form_paramenters_erc0(this.search_dict), this.args_input);
    if (parameters_erc1 == "&")
    {
        this.activate_erc1 = false;
        this.search();
    }
    else
    {
        this.callERC1List(parameters_erc1);
        this.activate_erc1 = true;
    }
},
{% endblock method_search %}

{% block extra_methods %}
    {% block laboratory_call_method %}
        callAreas() {
            axios
                .get(this.loader_source_areas)
                .then(response => {
                    this.areas = response.data.results;
                    this.is_loading_areas = false
                })
        },
        callDepartments() {
            axios
                .get(this.loader_source_departments)
                .then(response => {
                    this.departments = response.data.results;
                    this.is_loading_departments = false
                })
        },
        callERC0List() {
    axios
        .get(this.loader_source_erc0)
        .then(response => {
            this.erc0_list = response.data.results;
            this.is_loading_erc0 = false
        })
    },
    callERC1List(params) {
        axios
            .get(this.loader_source_erc1 + params)
            .then(response => {
                this.erc1_list = response.data.results;
            })
    },
    {% endblock laboratory_call_method %}

{% endblock extra_methods %}
</script>
