{% load static %}

{% load i18n %}

{% load unicms_storage_handler %}
{% load unicms_templates %}

{% random_id uid as id %}
{% include "includes/unical_storage_loading.html" %}

{% settings_value "SPINOFF_INFO_NOT_SHOW" as fields_to_hide %}

{% get_allowed_website request.get_host as host %}
{% get_current_language as LANGUAGE_CODE %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_ROOT_API" as api_root %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_ADDRESSBOOK_VIEW_PREFIX_PATH" as addressbook_prefix %}
{% settings_value "CMS_STORAGE_SPINOFF_VIEW_PREFIX_PATH" as spinoff_prefix %}
{% settings_value "BREADCRUMB_LAST" as breadcrumb_last %}

<div id="{{ id }}">

    <loading-icon
        v-if="is_loading"
        :loader_source="loader_source">
    </loading-icon>

    <div v-else-if="Object.keys(item).length">
        <div class="row">
            <div class="col-12 col-lg-3">
                <img :src="'{{ api_root }}'+item.SpinoffImage"
                     class="w-100"
                     v-if="item.SpinoffImage"/>
                <svg class="m-auto icon icon-xl icon-muted" v-else>
                    <use xlink:href="{% static 'svg/sprite.svg' %}#it-settings"></use>
                </svg>
            </div>
            <div class="col-12 col-lg-9 my-3 my-lg-0">
                <h1 class="lighter">
                    [[ item.SpinoffAgencyName ]]
                </h1>
            </div>
        </div>
        <hr class="my-4 bordeaux-unical-bg">
        <p>
            <span v-if="item.IsSpinoff">
                {% trans "Spin-off" %}
            </span>
            <span v-if="item.IsSpinoff && item.IsStartup">
            /
            </span>
            <span v-if="item.IsStartup">
                {% trans "Startup" %}
            </span>
            : [[ item.SpinoffDescription ]]
        </p>
        <div class="table-responsive">
            <table class="table table-sm">
                <tbody>
                    <tr v-for="(value, name) in item" v-if="value && !fields_to_not_show.includes(name) && value != ''">
                        <td>[[ labels[name] ]]</td>
                        <td v-if="typeof value === 'object'">
                            <ul v-for="(valueProfile, nameProfile) in value">
                                <div v-if="typeof valueProfile === 'object'">
                                    <ul v-for="(valueProfileInstance, nameProfileInstance) in valueProfile">
                                        <li>
                                            [[ labels[nameProfileInstance] ]] :
                                            <span style="white-space: pre-line;">
                                                [[ valueProfileInstance ]]
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <li v-else>
                                    <span v-if="nameProfile in labels">
                                        [[ labels[nameProfile] ]] :
                                    </span>
                                    <span style="white-space: pre-line;">
                                        [[ valueProfile ]]
                                    </span>
                                </li>
                            </ul>
                        </td>
                        <td v-else-if="typeof value === 'array'">
                            <ul>
                                <li v-for="subvalue in value">
                                    [[ subvalue ]]
                                </li>
                            </ul>
                        </td>
                        <td v-else>
                            <a v-if="name == 'SpinoffUnicalReferent' && item.SpinoffUnicalReferentId"
                               :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ addressbook_prefix }}/' + [[ item.SpinoffUnicalReferentId ]] +'/'">
                                [[ item.SpinoffUnicalReferent ]]
                            </a>
                            <span v-else-if="name == 'SpinoffUnicalReferent' &! item.SpinoffUnicalReferentId">
                                [[ item.SpinoffUnicalReferent ]]
                            </span>
                            <a v-else-if="name == 'SpinoffAgencyUrl' "
                               :href="urlFormat(item.SpinoffAgencyUrl)"
                               target="_blank" rel="noopener noreferrer">
                                [[ item.SpinoffAgencyUrl ]]
                            </a>
                            <span v-else style="white-space: pre-line;">
                                [[ value ]]
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div v-else>
        {% include "includes/unical_storage_empty.html" with url=url %}
    </div>

</div>

<script>
    var {{ id }} = new Vue({
        el: '[id="{{ id }}"]',
        data() {
            return {
                item: {},
                labels: {},
                url: '{{ url }}?lang={{ LANGUAGE_CODE }}',
                is_loading: true,
                loader_source: '{{ url }}',
                fields_to_not_show: {{ fields_to_hide|safe }},
            }
        },
        mounted() {
            this.CallURL();
        },
        methods: {
            CallURL() {
                axios
                    .get(this.url)
                    .then(response => {
                        this.item = response.data.results;
                        this.labels = response.data.labels;
                        this.is_loading = false
                        {% if change_breadcrumb %}
                        document.getElementsByClassName("{{ breadcrumb_last }}")[0].innerHTML = this.item.SpinoffAgencyName
                        {% endif %}
                    })
            },
            urlFormat(value) {
                if (!/^https?:\/\//i.test(value)) {
                    return 'http://' + value;
                }
                return value
            }
        }
    })
</script>
