{% extends "bases/unical_storage_list.html" %}

{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% block content %}

{% get_allowed_website request.get_host as host %}

{% settings_value "CMS_PATH_PREFIX" as cms_path_prefix %}
{% settings_value "CMS_STORAGE_BASE_PATH" as base_prefix %}
{% settings_value "CMS_STORAGE_LABORATORY_VIEW_PREFIX_PATH" as laboratory_prefix %}
{% settings_value "CMS_STORAGE_STRUCTURE_VIEW_PREFIX_PATH" as structures_prefix %}

<div id="{{ id }}" v-if="initial_items && initial_items.length">
    <div id="{{ id }}_collapse-container-lft" class="collapse-div collapse-left-icon" role="tablist">
        <div class="collapse-header" id="{{ id }}_heading-lft">
            <button data-toggle="collapse"
                    data-target="#{{ id }}_collapse-lft"
                    aria-expanded="false"
                    aria-controls="{{ id }}_collapse-lft">
                {% trans "Laboratories" %}
            </button>
        </div>
        <div id="{{ id }}_collapse-lft"
             class="collapse"
             role="tabpanel"
             aria-labelledby="{{ id }}_heading-lft">
            <div class="mt-3">

                <div v-if="items || parameters">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-wrapper card-space">
                                <div class="card card-bg no-after">
                                    <br>
                                    <div class="card-body">

                                        {% include "includes/unical_storage_search_input.html" with id=id %}

                                        {% block filters %}
                                        <div class="form-group">
                                            <!-- Areas & Department -->

                                            <loading-icon
                                                v-if="is_loading_areas"
                                                :loader_source="loader_source_areas">
                                            </loading-icon>

                                            <div class="row" v-else>

                                                <div class="col-sm">
                                                    <div>
                                                        <label for="{{ id }}_area_input">
                                                            {% trans "Area" %}
                                                        </label>
                                                        <div class="w-30 mt-5">
                                                            <select id="{{ id }}_area_input"
                                                                    title="{% trans 'Choose an option' %}"
                                                                    name="{{ id }}_area_input"
                                                                    class="form-control"
                                                                    @change="{{ id }}.search()">
                                                              <option value="">- {% trans 'Choose an option' %} -</option>
                                                              <option v-for="item in areas"
                                                                      :value="item.Area"
                                                                      :selected="item.Area == selected_area">
                                                                  [[ item.Area ]]
                                                              </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <loading-icon
                                                    v-if="is_loading_departments"
                                                    :loader_source="loader_source_departments">
                                                </loading-icon>

                                                <div class="col-sm" v-else>
                                                    <div>
                                                        <label for="{{ id }}_department_input">
                                                            {% trans "Department" %}
                                                        </label>
                                                        <div class="w-30 mt-5">
                                                            <select id="{{ id }}_department_input"
                                                                    title="{% trans 'Choose an option' %}"
                                                                    name="{{ id }}_department_input"
                                                                    class="form-control"
                                                                    @change="{{ id }}.search()">
                                                                <option value="">- {% trans 'Choose an option' %} -</option>
                                                                <option v-for="item in departments"
                                                                        :value="item.DepartmentCod"
                                                                        :selected="item.DepartmentCod == selected_department">
                                                                    [[ item.DepartmentName ]]
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <loading-icon
                                                v-if="is_loading_erc1"
                                                :loader_source="loader_source_erc1">
                                            </loading-icon>

                                            <div class="row" v-else>
                                                <div class="col-12">
                                                    <div class="mt-5">
                                                        <label for="{{ id }}_erc1_input">
                                                            {% trans "ERC 1" %}
                                                        </label>
                                                        <select id="{{ id }}_erc1_input"
                                                                class="form-control"
                                                                name="{{ id }}_erc1_input"
                                                                title="{% trans 'Choose an option' %}"
                                                                multiple
                                                                @change="{{ id }}.search()">
                                                            <option value="">- {% trans 'Clear all' %} -</option>
                                                            <optgroup v-for="item in erc1_list"
                                                                      :label="item.Description"
                                                                      style="font-weight: bold">
                                                                <option v-for="erc1_item in item.Erc1List"
                                                                        :value="erc1_item.IdErc1"
                                                                        :selected="selected_erc1.includes(erc1_item.IdErc1)">
                                                                    [[ erc1_item.Description ]]
                                                                </option>
                                                            </optgroup>

                                                      </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {% endblock filters %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>

                    <loading-icon
                        v-if="is_loading"
                        :loader_source="loader_source">
                    </loading-icon>

                    <div v-else>
                        <div class="row mb-3" v-for="item in items.results" v-if="item.LaboratoryName != '' && item.LaboratoryName">
                            <div class="col-12">
                                <!--start card-->
                                <div class="card-wrapper pb-0">
                                    <div class="card no-after" style="border:1px solid #b71918">
                                        <div class="card-body">
                                            {% if teacher_id %}
                                            <span v-if="item.ScientificDirectorId == {{ teacher_id }}">
                                                {% trans "Responsabile" %}
                                            </span>
                                            {% endif %}
                                            <h4>
                                                <a class="no-color" :href="'//{{ host }}/{{ cms_path_prefix }}{{ base_prefix }}/{{ laboratory_prefix }}/' + [[ item.LaboratoryId ]] +'/'">
                                                    [[ item.LaboratoryName ]]
                                                </a>
                                            </h4>
                                            <div class="row">
                                                <div class="col-12 col-md-auto">
                                                    <small>
                                                        [[ labels['DepartmentName'] ]] >
                                                        <b>[[ item.DepartmentName ]]</b>
                                                    </small>
                                                </div>
                                                <div class="col-12 col-md-auto">
                                                    <small>
                                                        [[ labels['Area'] ]] >
                                                        <b>[[ item.Area ]]</b>
                                                    </small>
                                                </div>
                                                <div class="col-12 col-md-auto" v-if="item.Interdepartmental != 'NO'">
                                                    <small>
                                                        [[ labels['Interdepartmental'] ]] >
                                                        <b>[[ item.Interdepartmental ]]</b>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-->
                            </div>
                        </div>

                    </div>

                    <list-panel v-bind:data="items" v-if="items.results" id="{{ id }}"></list-panel>
                </div>

                <div v-else>
                    {% trans "No items here" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
function {{ id }}_get_form_paramenters(keyword=null, value=null) {

    let dict = {}

    if (keyword)
        dict[keyword] = value


    // search
    let search = document.getElementById('{{ id }}_search').value
    if (search) dict['search'] = search

    {% block laboratory_filter_input %}

        // area
        let area = document.getElementById('{{ id }}_area_input').value
        if (area) dict['area'] = area

        // department
        let department = document.getElementById('{{ id }}_department_input').value
        if (department) dict['department'] = department

        // erc1
        let erc1 = document.getElementById('{{ id }}_erc1_input')
        let erc1_selected = [];
        for (var option of erc1.options)
        {
            if (option.selected) {
                erc1_selected.push(option.value);
            }
        }
        let erc1_values = erc1_selected.join(",")
        if(erc1_values) dict['erc1'] = erc1_values

    {% endblock laboratory_filter_input %}

    setItemInSession("{{ id }}", dict)

    return dict
}
</script>
{% endblock extra_scripts %}

{% block extra_data %}

{% get_current_language as LANGUAGE_CODE %}
{% settings_value "CMS_STORAGE_DEPARTMENTSFILTER_API" as departmentsfilter_api %}
{% settings_value "CMS_STORAGE_LABORATORIESAREAS_API" as laboratoriesareas_api %}
{% settings_value "CMS_STORAGE_ERC1LIST_API" as erc1list_api %}

search_dict: {},
departments: [],
areas: [],
erc1_list: [],

is_loading_departments: true,
is_loading_areas: true,
is_loading_erc1: true,

loader_source_departments: '{{ departmentsfilter_api }}?lang={{ LANGUAGE_CODE }}',
loader_source_areas: '{{ laboratoriesareas_api }}?lang={{ LANGUAGE_CODE }}',
loader_source_erc1: '{{ erc1list_api }}?lang={{ LANGUAGE_CODE }}',

selected_area: this.getItemFromSession("{{ id }}", 'area'),
selected_department: this.getItemFromSession("{{ id }}", 'department'),
selected_search: this.getItemFromSession("{{ id }}", 'search'),
selected_erc1: (this.getItemFromSession("{{ id }}", 'erc1') || "").split(",")

{% endblock extra_data %}

{% block extra_mounted %}

    {% block call_laboratory_on_mounted %}
        this.callAreas();
        this.callDepartments();
        this.callERC1List();
    {% endblock call_laboratory_on_mounted %}

this.parameters = {{ id }}_encodeQueryData(this.getItemsFromSession("{{ id }}"))
{% endblock extra_mounted %}

{% block extra_methods %}

    {% block laboratory_call_method %}
    callAreas() {
        axios
            .get(this.loader_source_areas)
            .then(response => {
                this.areas = response.data.results;
                this.is_loading_areas = false
            })
    },
    callDepartments() {
        axios
            .get(this.loader_source_departments)
            .then(response => {
                this.departments = response.data.results;
                this.is_loading_departments = false
            })
    },
    callERC1List(params) {
        axios
            .get(this.loader_source_erc1)
            .then(response => {
                this.erc1_list = response.data.results;
                this.is_loading_erc1 = false
            })
    },
    {% endblock laboratory_call_method %}

{% endblock extra_methods %}
</script>
