{% load i18n %}
{% load static %}
{% load unicms_storage_handler %}
{% load unicms_templates %}

{% get_current_language as LANGUAGE_CODE %}
{% random_id uid as id %}

{% include "includes/unical_storage_loading.html" %}

{% block content %}
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}

{% block scripts %}
<script>
function encodeQueryData(data, args_input) {
    const ret = [];
    for (let d in data)
        ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));

    if (args_input)
        return '&' + ret.join('&')
    return '?' + ret.join('&');
}
</script>

<script>
{% block component %}
Vue.component('list-panel', {
    props: {
        data: Array,
        id: String
    },
    template: `
        <div class="card-wrapper card-space" >
            <div class="card card-bg no-after">
              <div class="card-body py-1">

                <div class="row">
                    <div class="col w-50">
                        <span style="color:#050b12;">
                            <b>[[ data.count || 0]] {% trans "results" %}</b> in <b>[[ data.total_pages || 0 ]] {% trans "pages" %}</b>
                        </span>
                    </div>

                    <div class="col w-50 ">
                        <div class="float-right">
                            <span>
                                <a class="" style="color:#050b12;" v-if="data.page_number > 1" :onclick="[[ id ]] + '.CallURL(' + [[ id ]] + '.previous_page)'">
                                    <span class="sr-only"> {% trans "page" %} </span> &lt; <small>{% trans "previous" %}</small>
                                </a>
                            </span>

                            <span class="mr-2 ml-2" >[[ data.page_number ]] / <b>[[ data.total_pages ]]</b></span>
                            <a class="" style="color:#050b12;" :onclick="[[ id ]] + '.CallURL(' + [[ id ]] + '.next_page)'" v-if="data.page_number < data.total_pages">
                                <span class="sr-only"><small>{% trans "page" %} </span>{% trans "next" %} &gt;</small>
                            </a>
                        </div>
                    </div>
                </div>

              </div>
            </div>
        </div>
    `
});
{% endblock component %}

var {{ id }} = new Vue({
    el: '[id="{{ id }}"]',
    data() {
        return {
            parameters: "",
            items: [],
            labels: [],
            url: '{{ url|safe }}',
            next_page: "",
            previous_page: "",
            args_input: false,
            is_loading: true,
            loader_source: '',

            {% block extra_data %}
            {% endblock extra_data %}
        }
    },
    mounted() {
        {% block extra_mounted %}
        {% endblock extra_mounted %}

        this.loader_source = this.url + this.parameters
        this.CallURL(this.url + this.parameters);

        let url_splitted = this.url.split("?");
        if (url_splitted == this.url) this.args_input = false
        else this.args_input = true
    },
    methods: {
        getItemsFromSession(id) {
            return JSON.parse(sessionStorage.getItem(id))
        },
        getItemFromSession(id, item) {
            if(sessionStorage.getItem(id)){
                return JSON.parse(sessionStorage.getItem(id))[item]
            }
            return null
        },

        {% block method_search %}
        search() {
            this.parameters = encodeQueryData({{ id }}_get_form_paramenters(), this.args_input);
            this.CallURL(this.url + this.parameters);
        },
        {% endblock method_search %}

        {% block method_callurl %}
        CallURL(url) {
            axios
                .get(url)
                .then(response => {
                    this.items = response.data;
                    this.next_page = response.data.next;
                    this.previous_page = response.data.previous;
                    this.labels = response.data.labels;
                    this.is_loading = false
                })
        },
        {% endblock method_callurl %}

        {% block extra_methods %}
        {% endblock extra_methods %}
    }
})
</script>
{% endblock scripts %}
